/* COULEURS */
.orange{
    background-color: #fad270;
}
.rouge{
    background-color: #dc4e56;
}

.vert{
    background-color: #80B650;
}

.bleu{
    background-color: #048b9a;
}

body{
    background-color:#80B650;
  }


#logo-retour{
  position: absolute;
  width: 3.5%;
  height: auto;
}


#titre{
    font-family: Calibri, sans-serif;
    color: white;
    text-align: center;
    position: relative;
}

#wrapper{
  display:flex;
  flex-direction : column;
}

#infos{
  margin-right: 7%;
}


#centrale{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.event{
  margin-right: 10%;
  margin-left: 10%;
  width: 75%;
}

.emplacement{
  display: flex;
  justify-content: space-around;
}

p{
  font-size: 150%;
  font-family: cursive;
}


#conteneurprincipale{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#conteneurphoto{
  flex: 1;
  display: flex;
  flex-direction: row;
}
.flexb1{
  flex: 1;
  text-align: center;
}
.imgconteneur{
  flex: 2;
}

#conteneurtexte{
  display: flex;
}
.conteneurtextepresentation{
  flex: 4;
}

#conteneurapropos{

  flex: auto;
}
#conteneurorganisateur{

  flex: 1;
  display: flex;
  flex-direction: row;
}

#aproposorganisateur{
  display: flex;
  flex-direction: column;
}

.flexh1{
  flex: 1;
}


/* code Colvil*/
#conteneursatue{
  display: flex;
}
#statue{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
}
#divopserstatue{
  flex: 1;
  justify-content:space-around;
  display: flex;
}
/*CSS correspondant aux action admin*/
#actiondelimitation{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
button{
  height:50px; 
  width:150px;
  border-radius: 5px;
  background-color: #dc4e56;
  font-size:large;
}