<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/creationlakou.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creation Lakou</title>
</head>
<body>
    
    <a href="main.php"> <img id="logo-retour" src="../Ressources/logo_retour.png" width="5%"/> </a>
    <div class="container">
        <div class="content">
            <div class=topcontainer>
                <div class="top1">
                    <p>
                        Nom
                        <br>
                        Ville
                        <br>
                        Activity
                    </p>
                </div>
                <div class="top2">
                    <p>
                        e Lorem Ipsum est simplement du faux texte employé dans la composition et
                        la mise en page avant impression. Le Lorem 
                        Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
                    </p>
                </div>
            </div>
    
            <!-- Contenu centre div don image défilement -->
            <div class="middlecontainer">
                <div id="conteneurslide">

                    <!-- Conteneur principal de tout le diaporama -->
                    <div class="diapo">
                        <!-- Conteneur des "diapos" -->
                        <div class="elements">
                            <!-- Première diapo -->
                            <div class="element active">
                                <img src="../Ressources/imagetest.png" alt="Image 1">
                            </div>
                            <!-- Deuxième diapo -->
                            <div class="element active">
                                <img src="../Ressources/image1.png" alt="Image 2 ">
                            </div>
                            <!-- Troisième diapo -->
                            <div class="element">
                                <img src="../Ressources/image2.png" alt="Image 3">
                            </div>
                            <!-- quatrieme  diapo -->
                            <div class="element">
                                <img src="../Ressources/image3.png" alt="Image 3">
                            </div>
                        </div>
                        <!-- Flèches de navigation -->
                        <i id="nav-gauche" class="las la-chevron-left"></i>
                        <i id="nav-droite" class="las la-chevron-right"></i>
                    </div>
    
                </div>
            </div>
            <div class="endcontainer">
                <p>
                    Nom prenom  telephone:
                    <br>
                    Nom prenom  telephone:
                </p>
            </div>
        </div>
        
    </div>   
</body>
</html>