<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/kbm_demenjala.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demenjala</title>
</head>
<body>
    <a href="main.php"> <img id="logo-retour" src="../Ressources/logo_retour.png" width="5%"/> </a>
    <div class="container">
        <div class="content">
            <div>
                <p>
                    <h1>DEMENJALA</h1>
                    <h2>Un autre modèle de société</h2>
               </p>
              <br>
               <p>
                   <h2>Démarche d'émancipation vers un autre modèle de 
                       <br>
                       société bâti sur la solidarité partagés et les outils
                       <br>
                       suivants 
                   </h2>
               </p>
               <br>
               <p>
                    <h2>. Souverainté Alimentaire
                        <br>
                    .Lékol Polpilé (Mè et labitid en nou)
                    <br>
                    . Finance populaire
                </h2>
               </p>
            </div>
               <br>
            <div class="textenormale deca textenormale">
                    
                      <h2>Principes:
                          <br>
                      bay koko pou savon
                        <br>
                      Contruire en construisant
                        <br>
                    Tout mou sé moun
                        </h2>
            </div>

             
               
        </div>
    </div>    
</html>