<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/kbm_demenjala.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KBM</title>
</head>
<body>
    <a href="main.php"> <img id="logo-retour" src="../Ressources/logo_retour.png" width="5%"/> </a>
    <div class="container">
        <div class="content">
            <div>
                <p>
                    <h1>KBM</h1>
                    <h2>Ka pou bwè & mangé</h2>
               </p>
              <br>
               <p>
                   <h2>Démarche vers la souverainté alimentaire</h2>
               </p>
               <br>
               <p>
                    <h2>Mager ce que nous produisons
                        <br>
                    Produire ce que nous mangeons</h2>
               </p>

            </div>
               <br>
              <div>
                  <div class="deca">
                      <p>
                          <h2>
                              Développement de tout types de jardin
                          </h2>
                      </p> 
                </div>
                  <div class="textenormale">
                      <h2>Jaden bo kaz (jardin créole)
                          <br>
                      Jaden en kaz (Production en appartement)
                      <br>
                      Jaden pawtagé(jardin communautaire)</h2>
                  </div>

              </div>
               
        </div>
    </div>    
</body>
</html>